.c-btn-circle{
  text-align: center;
  display: block;

  & .c-icon{
    color:white;
    //background: var(--textLight);
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -ms-border-radius: 10em;
    -o-border-radius: 10em;
    border-radius: 10em;
    width: 40px;
    height: 40px;
    font-size:24px;
    line-height: 46px;
  }

  & .c-btn-circle-label{
    color:var(--textLight);
    margin-top:3px;
  }

  &.small{
    & .c-icon{
      width: 30px;
      height: 30px;
      font-size:20px;
      line-height: 34px;
    }
  }

  &.active, &:active{
    & .c-icon{
      color:white;
      background:var(--text);
    }

    & .c-btn-circle-label{
      color:var(--text);
    }
  }
}