.c-cell {
  padding: 1rem;
  border-top: 1px solid var(--border);

  &.row {
    display: flex;
    flex-direction: row;
    align-items: center;

    & .extend{
      flex: auto;
    }
  }

  &.action{
    padding: 10px;
  }

  &.column {
    display: flex;
    flex-direction: column;
  }

  &:first-child {
    border-top: none;
    border-radius: inherit;
  }

  &:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  &:active {
    background-color: color(var(--secondary) alpha(10%))
  }
}
