.c-icon {
  display: inline-block;
  font-size :20px;

  &.block{
    display: block;
    width: var(--blockSize);
    height: var(--blockSize);
    padding: 0;
    line-height: 54px;
	font-size:24px;
	text-align: center;
  }

}

