.c-price-currency {
	color:var(--price);
	font-weight: bold;
}

.c-price-amount{
	color:var(--price);
	font-family: Montserrat,sans-serif;
	font-size: 16px;
}

.c-price.big{
	& .c-price-amount{
		font-size: 24px;
	}
}