.c-route-link{
	color:#666;
	display: inline-block;

	& .c-icon{
		margin-top: 2px;
		display: block;
		font-size:1.8rem;
		line-height: 1.5rem;
	}

	& .title{
		font-size: 12px;
		line-height: 12px;
	}

	&.link-active{
		color:var(--primary);
		text-shadow: 0 -1px white;
	}
}