.c-xsd-header{
	padding-top: 15px;
    height: 45px;
    background-color: #fff;
    width:100%;
    position: relative;
}

.c-xsd-header-title{
	line-height: 45px;
	padding: 0 45px;
	text-align: center;
	text-overflow:ellipsis;white-space:nowrap;overflow:hidden
}

.c-xsd-header-button{
	position: absolute;
	top:15px;
    text-align: center;

    &.right{
    	right:0;
    }

    & .c-icon{
        display: inline-block;
        width: 45px;
        height: 45px;
        padding: 0;
        line-height: 49px;
    	font-size:24px;
    }

    & .c-button{
        padding:0 10px;

    }
}