.c-xsd-item {
	@mixin table-row;

	& >* {
		@mixin table-cell;
	}

	& .thumbnail{
		display: inline-block;
		width:50px;
		height:50px;
		position: relative;
		overflow: hidden;

		& img{
			margin: 0;
			padding: 0;
			max-width: none;
		}
	}

	& .xsd-content{
		width:100%;
		padding-left: 10px;

		& .title{
			color:var(--text);
			font-weight: normal;
			//line-height: 1.6em
		}

		& .subTitle{
			margin-top: 5px;
			color:var(--textLight)
		}

		&.active, &:active{
			opacity: .6
		}
	}

	& .c-button{
		padding:0 .5rem;
	}
}
