.c-xsd-menu-h{
	position: absolute;
	bottom:var(--navbar);
	z-index: 10;

	@mixin table-row;
	text-align: center;
	background: #f1f1f1;
	border-top: 1px solid var(--border);

	& >*{
		@mixin table-cell;
		border-right: 1px solid var(--border);
		padding:15px;

		&:last-child{
			border-right: 0
		}
	}

}