.c-xsd-nav-button{

}

.c-xsd-nav-routes{
	background: #f1f1f1;
	width: 100%;
	position: absolute;
	z-index: 102;
	bottom: var(--navbar);

	& .link{
		@mixin table-row;
		border-top:1px solid var(--border);

		& >*{
			@mixin table-cell;
		}

		& .title{
			padding:0 10px;
			width: 100%;
		}

	}
}