.c-xsd-image {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
	overflow: hidden;
}

.c-xsd-image-img {
	position: absolute;
  display: inline-block;
  vertical-align: middle;
}
