.c-xsd-footer{
    position: fixed;
    bottom:0;
    height: var(--footerHeight);
    background-color: #fff;
    width:100%;
    border-top: 1px solid var(--border);
}

.c-xsd-footer-title{
	line-height: 60px;
	margin: 0 60px;
	text-align: center;
	text-overflow:ellipsis;white-space:nowrap;overflow:hidden
}


.c-xsd-footer-button{
	float: left;

    color: #ccc;
    text-align: center;

    &.right{
    	float:right;
    }
}