.c-xsd-nav-button {
	position: fixed;
	z-index: 20;
	right:0;
	bottom:0;
	height: var(--navbar);

	& a.icon{
		color:var(--text);
		float: right;
		
		&.active, &:active{
			background: var(--primary);
			color:white;
		}
	}

	& .c-button{
		padding:0 1rem;
	}

	& .text{
		display: inline-block;
		line-height: var(--navbar);
	}
}

