.c-xsd-header{
    height: var(--header);
    width:100%;
    display: flex;

    & .i-btn{
      position: relative;
      padding-left:22px;
      font-size:14px;

      & .c-icon{
        position: absolute;
        line-height: var(--header);
        left:0;
        font-size:20px;
      }
        
    }

    & .title{
        line-height: var(--header);
    }
}

