.c-xsd-item {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;

/*
	& .c-icon.block{
	    display: block;
	    width: 50px;
	    height: 50px;
	    padding: 0;
	    line-height: 54px;
	    font-size: 24px;
	    text-align: center;
	    color:var(--textLight);
	}
*/
	& .thumbnail{
		display: inline-block;
		width:50px;
		height:50px;
		position: relative;
		overflow: hidden;

		& img{
			margin: 0;
			padding: 0;
			max-width: none;
		}
	}

	& .xsd-content{
		width:65%;
		padding-left: 10px;

		& .title{
			color:var(--text);
			font-weight: normal;
			text-overflow:ellipsis;white-space:nowrap;overflow:hidden;
			//line-height: 1.6em
		}

		&.active, &:active{
			opacity: .6
		}
	}
	& .filler{
		flex: auto;
	}

	& .c-button{
		padding:0 .5rem;
	}
}
