.c-xsd-navbar{
    position: fixed;
    bottom:0;
	@mixin table-row;
	background: white;
	z-index: 11;
	line-height: var(--navbar);
	border-top: 1px solid var(--border);

	& >*{
		@mixin table-cell;
	}

	& .extend{
		width: 100%;
	}

	& .title{
		font-size: 1rem;
		border-left:1px dashed #aaa;
		padding:0 10px;
		text-overflow:ellipsis;white-space:nowrap;overflow:hidden
	}
}