.c-xsd-header{
    position: fixed;
    z-index: 11;
    top:0;
	padding-top: 15px;
    height: 45px;
    width:100%;
    background: white;
    border-bottom:1px solid var(--border)
}

.c-xsd-header-title{
	line-height: 45px;
	padding: 0 45px;
	text-align: center;
	text-overflow:ellipsis;white-space:nowrap;overflow:hidden
}

.c-xsd-header-button{
	position: absolute;
	top:15px;
    text-align: center;

    &.right{
    	right:0;
    }

    & .c-button{
        padding:0 10px;

    }
}