.c-footer{
    position: fixed;
    z-index: 11;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footerHeight);
    border-top:1px solid var(--border);
    background-color: white;

    & li {
        line-height: 4rem;
        width: 25%;
        text-align: center;
        float: left;


    }
}