@define-mixin table-row {
  width: 100%;
  box-sizing: border-box;
  display: table;
}

@define-mixin table-cell {
  display: table-cell;
  width: 1%;
  float: none!important;
  vertical-align: middle;
}


@define-mixin circle{
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  border-radius: 10rem;
}